body{
    background-color: deepskyblue;
    text-align: center;
}
div{
    margin-left: 450px;
    margin-right: 450px;
    background-color: dodgerblue;
    border-radius: 10px;
}
.btn-social-square {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    margin:2px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    color:white;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .3s;
  }
  .btn-social-square--twitter {
    background: #22b8ff;
  }
  .btn-social-square i {
    line-height:50px;
  }
  .btn-social-square:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }